
img {
  width: 330px;
  height:50%;
  float: right;
  margin: 10px;
  border: 6px solid seagreen;
  padding: 4px;
  border-style: ridge;
}

.about {
  color: whitesmoke;
  font-size: 18px;
  font-family: bradley hand;
  text-align: center;
}

.about strong {
  color: blue;
}

.things {
  color: grey;
  font-size: 10px;
  font-family: monospace;
  text-align: center;
  width: 500px;
  float: left;
  margin: 25px;
  border: 8px solid seagreen;
  padding:12px;
  background-color: lightsalmon;
  box-sizing: content-box;
  border-style: ridge;
  list-style-position: inside;
}

.things h2 {
  font-size: x-large;
  font-style: oblique;
  font-weight: bolder;
  color: darkcyan;
}

.things li {
  font-size: 130%;
}

.header {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:darkcyan; 
  font-weight: bolder;
  font-style: oblique;
}

.intro {
  color:darkcyan;
  margin: 25px;
  border:12px solid seagreen ;
  padding:6px;
  background-color: lightsalmon;
  box-sizing: border-box;
  border-style: ridge;

}

.projects {
  color: grey;
  margin: 25px;
  border:12px solid seagreen ;
  padding:6px;
  background-color: lightsalmon;
  box-sizing: border-box;
  border-style: ridge;
}

.projects h2 {
  color:darkcyan;
}

.diving ul {
  border: 6px solid seagreen;
  border-style: ridge;
  text-align: center;
  list-style-position: inside;
    
}

.coding em {
  color: red;
  font-weight: bolder;
}