
img {
  width: 400px;
  height:50%;
  float: right;
}

.about {
  color: whitesmoke;
  font-size: 18px;
  font-family: bradley hand;
  text-align: center;
}

.things {
  color:whitesmoke;
  font-size: 14px;
  font-family: monospace;
  text-align: center;
  width: 500px;
  float: left;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder

}

.intro {
  margin: 25px;
  border:12px solid seagreen ;
  padding:6px;
  background-color:rgb(0, 139 93),;
  background-image: -webkit-gradient(circle, rgba(34,193,195,1) 14%, rgba(253,155,45,1) 98%);
  box-sizing: border-box;

}